<% if @peeps %>
	<ul>
		<% @peeps.each do |peep| %>
			<%=peep.text%>
			<% end %>
	</ul>
<% end %>

<div id='new-peep'>
	<form action='/peeps' method='post'>
		<input type='text' name='text'/>
		<input type='submit' value='Peep'/>
	</form> 
</div>