<% if @maker %>
	Hello <%=@maker.email%>, please check your inbox
<% else %>
Please fill in your email address:

<form method='post' action='/password'>
	<input type='text' name='email'/>
	<input type="submit" value='Recover'/>
</form>

<% end %>